h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: calc(39px + (26 - 14) * ((100vw - 360px) / (1600 - 360)));
}

h2 {
    font-size: calc(33px + (26 - 14) * ((100vw - 360px) / (1600 - 360)));
}

h3 {
    font-size: calc(27px + (26 - 14) * ((100vw - 360px) / (1600 - 360)));
}

h4 {
    font-size: calc(21px + (26 - 14) * ((100vw - 360px) / (1600 - 360)));
}

h5 {
    font-size: calc(18px + (26 - 14) * ((100vw - 360px) / (1600 - 360)));
}

h6 {
    font-size: calc(14px + (26 - 14) * ((100vw - 360px) / (1600 - 360)));
}

p {
    font-size: calc(7px + (26 - 14) * ((100vw - 360px) / (1600 - 360)));
}