h1, h2, h3, h4, h5, h6, p {
    margin: 0!important;
}

h1 {
    font-size: calc(29px + (26 - 14) * ((100vw - 360px) / (1600 - 360)))!important;
    font-weight: 600!important;
}

h2 {
    font-size: calc(23px + (26 - 14) * ((100vw - 360px) / (1600 - 360)))!important;
    font-weight: 600!important;
}

h3 {
    font-size: calc(17px + (26 - 14) * ((100vw - 360px) / (1600 - 360)))!important;
    font-weight: 600!important;
}

h4 {
    font-size: calc(11px + (26 - 14) * ((100vw - 360px) / (1600 - 360)))!important;
    font-weight: 600!important;
}

h5 {
    font-size: calc(8px + (26 - 14) * ((100vw - 360px) / (1600 - 360)))!important;
    font-weight: 600!important;
}

h6 {
    font-size: calc(4px + (26 - 14) * ((100vw - 360px) / (1600 - 360)))!important;
    font-weight: 600!important;
}

p {
    font-size: calc(3px + (26 - 14) * ((100vw - 360px) / (1600 - 360)))!important;
    font-weight: 600!important;
}