@import "../../variables/Colors.scss";

.mdg-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
    padding: 1rem 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h6 {
        margin-bottom: 5px;
    }

    p {
        margin-bottom: 16px;
        color: $mdgGrayText;
        font-weight: 400;
    }
}