@import "../variables/Colors.scss";

.mdg-header {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    border-bottom: 1px solid rgba(255, 255, 255, 0.125);
    backdrop-filter: blur(20px);
    background-color: rgba(0,0,0,0.75);

    .logo-div {
        width: 10%;
        img {
            height: 40px; //this height will be removed later, keeping now for demo image
            cursor: pointer;
            box-shadow: 0 0 2px 0px rgba(255, 255, 255, 0.5);
            padding: 6px;

            &:hover {
                box-shadow: 0 0 3px 1px white;
            }
        }
    }

    .quick-links {
        display: flex;

        @media (max-width: 992px) {
            display: none;
        }
    }

    .side-menu {
        display: none;

        @media (max-width: 992px) {
            display: block;
        }
    }

    .buttons-wrapper {
        display: flex;

        button {
            width: 85px;
        }

        @media (max-width: 992px) {
            display: none;
        }
    }
}