@import "../variables/Colors.scss";

.footer {
    padding: 3rem 0;
    background-image: linear-gradient(90deg, $mdgSecondary1, $mdgSecondary2);
    color: white;

    img {
        width: 100%;
        box-shadow: 0 0 3px 1px white;
        padding: 6px;
    }

    a {
        display: flex;
        justify-content: flex-end;
    }
}

.copyright {
    text-align: center;
    background-image: linear-gradient(90deg, $mdgPrimary1, $mdgPrimary2, $mdgPrimary3);
    padding: 0.75rem 0;
    color: rgba(255,255,255,0.75);
    border-top: 1px solid rgba(255,255,255,0.3);
}